<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To My Tech Talk!</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <header>
    <h1>Welcome to My TECH TALK</h1>
    <p>A place to talk, listen, and talk some more!</p>

    
  </header>

  <nav>
    <ul>

      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="{{#if logged_in}}/profile{{else}}/login{{/if}}">Dashboard</a>
      </li>
      
      <li>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </li>

    </ul>
  </nav>

  <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  
</body>

</html>