<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/profile.css">

<h3>Welcome to your blogpage, {{username}}!</h3>

<div class="dashboard-container">
  <p class="dashboard-text"> <b>Your Dashboard:</b></p>
</div>

